body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'REM', sans-serif;
    max-width: 1440px;
    margin: 0 auto;
}

/* header */

.header {
    width: 100%;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo .logo-img {
    padding-left: 24px;
    max-height: 32px;
}

.logo .logo-name {
    font-size: 24px;
    font-weight: 600;
}

.logo .span-logo-name {
    font-weight: 200;
}

.nav-bar-list {
    display: flex;
    align-items: center;   
    margin-right: 24px;
    
}

.nav-bar-list li, a {
    padding-left: 24px;
    font-size: 20px;
    list-style: none;
    color: black;
    text-decoration: none;
}

.mobile-nav {
    display: none;
}

/* header */

/* introduction */

.introduction {
    background-color: gray;
    display: grid;
    grid-template-columns: 60% 40%;
}

.introduction .banner-class {
    padding: 32px 24px; 
}

.introduction .banner-class .banner-img {
    max-width: 100%;
    height: auto;
}

.introduction .banner-caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px 24px 32px 0px;
}

.introduction .banner-caption h1 {
    font-size: 48px;
    font-style: Arial;
}

.introduction .banner-caption p {
    font-size: 24px;
}

.introduction .btn-1 {
    width: 100%;
    background-color: rgb(51, 50, 49);
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 0;
}

/* Introduction End */

/* Information */

.information {
    margin: 32px 24px;
    display: grid;
    grid-template-columns: 60% 40%;
}

.information .left-side-information-container {
    display: flex;
    flex-direction: column;
    padding-right: 24px;
}

.information .left-side-information-container .information-img {
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.information .left-side-information-container .information-info-container h2 {
    font-size: 32px;
    padding-top: 32px;
    padding-bottom: 24px;
    margin: 0;
}

.information .left-side-information-container .information-info-container .describe-information {
    font-size: 16px;
    margin: 0;
}

.information .left-side-information-container .information-info-container .author-information {
    font-size: 16px;
    margin-top: 32px;
}

.information .right-side-information-container {
    display: flex;
    flex-direction: column;
}

.dashboard-box1, .dashboard-box2, .dashboard-box3 {
    display: grid;
    grid-template-columns: 35% 65%;
    padding: 16px;
    margin: 0;
    border: 1px solid gray;

}

.dashboard-box1:hover, .dashboard-box2:hover, .dashboard-box3:hover {
    background-color: rgb(212, 209, 209);

}

.dashboard-box1-img, .dashboard-box2-img, .dashboard-box3-img {
    margin-right: 16px;
}

.box1-img , .box2-img , .box3-img {
    max-width: 100%;
    height: auto;
}

.dashboard-box1-des h3, .dashboard-box2-des h3, .dashboard-box3-des h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0px;
} 

.dashboard-box1-des p, .dashboard-box2-des p, .dashboard-box3-des p {
    font-size: 18px;
    margin: 8px 0px;
}

.dashboard-box1-des a, .dashboard-box2-des a, .dashboard-box3-des a {
    text-decoration: none;
    color: rgb(49, 154, 185);
}

.mobile-information{
    display: none;
}

/* Information end */

/* Courses */

.courses {
    background-color: #d8d8d8;
    padding: 32px 72px;
}

.courses .courses-title {
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.courses .courses-title h2 {
    font-size: 32px;
    padding-bottom: 32px;
    margin-bottom: 0;
    margin-top: 0;
}

.courses .courses-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
}

.courses-card1, .courses-card2, .courses-card3, .courses-card4, .courses-card5, .courses-card6 {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.courses-card1:hover, .courses-card2:hover, .courses-card3:hover, .courses-card4:hover, .courses-card5:hover, .courses-card6:hover {
    background-color: rgb(182, 182, 182);
}

.card-1-pic, .card-2-pic, .card-3-pic, .card-4-pic, .card-5-pic, .card-6-pic {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card-1-img, .card-2-img, .card-3-img, .card-4-img, .card-5-img, .card-6-img {
    max-width: 100%;
    height: auto;
}

.card-1-des, .card-2-des, .card-3-des, .card-4-des, .card-5-des, .card-6-des {
    padding: 16px 16px 24px 16px;
    margin: 0;
}

.card-1-des h2, .card-2-des h2, .card-3-des h2, .card-4-des h2, .card-5-des h2, .card-6-des h2 {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 24px;
}

.card-1-des p, .card-2-des p, .card-3-des p, .card-4-des p, .card-5-des p, .card-6-des p {
    margin: 0;
    padding: 8px 0px;
    font-size: 18px;
}

.courses-mobile {
    display: none;
}

/* End Courses */

/* Thesis */

.thesis {
    padding: 32px 24px;
}

.thesis .thesis-title {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.thesis .thesis-title h2 {
    font-size: 32px;
    padding: 0;
    margin: 0;
}

.thesis .thesis-container {
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 32px 0px 0px 0px;
}

.thesis .thesis-container .thesis-left-side {
    padding: 0px 24px 0px 0px;
}

/* .thesis-left-side .thesis-video {

} */

.thesis-video .thesis-vid {
    max-width: 100%;
    height: auto;
}

/* .thesis-left-side .thesis-describe {
} */

.thesis-left-side .thesis-describe h2 {
    padding: 24px 0px 8px 0px;
    margin: 0px;
}

.thesis-left-side .thesis-describe p {
    color: gainsboro;
    margin: 0;
    padding: 0;
}

.thesis-right-side {
    display: flex;
    flex-direction: column;   
}

.thesis-box1:hover, .thesis-box2:hover {
    background-color: rgb(212, 209, 209);

}

.thesis-box1, .thesis-box2 {
    display: grid;
    grid-template-columns: 35% 65%;
    border: 1px solid gray;
} 

.thesis-box1-pic, .thesis-box2-pic {
    margin: 16px;
}

.thesis-box1-img, .thesis-box2-img {
    max-width: 100%;
    height: auto;
}

.thesis-box1-des, .thesis-box2-des {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.thesis-box1-des h2, .thesis-box2-des h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0px;
} 

.thesis-box1-des p, .thesis-box2-des p {
    font-size: 18px;
    margin: 8px 0px;
}

/* footer */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid gray;
    margin: 0px 24px 0px 24px;
}

footer .term{
    display: flex;
    flex-direction: row;
}

footer ul li {
    list-style: none;
    margin-left: 16px;
}

/* responsive area */

@media only screen and (max-width: 768px) {
    
    .nav-bar-list {
        display: none;
    }

    .logo {
        display: none;
    }
    .mobile-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 64px;
    }

    .introduction {
        display: flex;
        flex-direction: column;
        margin: 0;
        
    }

    .introduction .banner-class {
        padding: 0; 
    }

    /* .banner-class  */

    .introduction .banner-caption {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 32px 16px 32px 16px;
        padding: 0;
    }

    .banner-img{
        max-width: 100%;
        height: auto;
    }

    .introduction .banner-caption h1 {
        margin: 0;
        font-size: 48px;
        font-style: Arial;
    }
    
    .introduction .banner-caption p {
        font-size: 24px;
        margin-top: 32px;
        margin-bottom: 24px;
    }
    .information {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    .information .left-side-information-container {
        display: none;
    }

    .information .right-side-information-container {
        display: none;
    }

    .mobile-information {
        display: flex;
        flex-direction: column;
        margin: 16px 16px 32px 16px;
        align-items: center;
    }

    .mobile-box1-img, .mobile-box2-img, .mobile-box3-img {
        max-width: 100%;
        height: auto;
    }

    .mobile-dashboard-box1-des, .mobile-dashboard-box2-des {
        padding: 16px 16px 64px 16px;
    }

    .mobile-dashboard-box3-des{
        padding: 16px 16px 32px 16px;
    }

    .mobile-dashboard-box1-des h3, .mobile-dashboard-box2-des h3, .mobile-dashboard-box3-des h3 {
        margin: 0px;
    }
    
    .courses{
        background-color: white;
    }

    .courses .courses-card {
        display: flex;
        flex-direction: column;
    }

    .courses-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .courses-mobile h2 {
        border: 1px solid black;
        width: 100%;
        text-align: center;
    }

    .courses-card1, .courses-card2, .courses-card3, .courses-card4, .courses-card5, .courses-card6 {
        display: none;
    }

    .thesis-describe{
        display: none;
    }

    .thesis-right-side {
        display: none;
    }
}
